<launch>
  <arg name="server" default="192.168.2.221"/>

  <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vicon" output="screen">
    <param name="server"                    value="$(arg server)"/>
    <param name="port"                      value="3883"/>
    <param name="update_frequency"          value="100.0"/>
    <param name="frame_id"                  value="world"/>
    <param name="use_server_time"           value="false"/>
    <param name="broadcast_tf"              value="true"/>
    <param name="refresh_tracker_frequency" value="0.0"/>
    <rosparam param="trackers">
      - eventrec-rc
      - muroKopf
      - eventrig
    </rosparam>
  </node>
</launch>
